@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>
<link href="~/css/site.css" rel="stylesheet" />
<div class="text-body">
    <p>
        Hi, I’m Joel Hilton, and I love movies. Ever since minoring in Film Studies at BYU,
        I’ve been deeply immersed in film—analyzing, reviewing, and discussing everything 
        from timeless classics to modern blockbusters. I work as a contract movie reviewer 
        for ClearPlay, providing insights on a wide range of films.
    </p>
    <p> 
        I also co-host <a href="https://baconsale.com/" target="_blank">Baconsale</a>, a 
        weekly podcast where we dive into movies and pop culture with humor and insight. 
        Whether debating the best films in a franchise, ranking obscure favorites, or 
        discussing the latest releases, I love sharing my passion for film with fellow 
        movie lovers. Additionally, I perform with <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>, 
        an improv group that brings fast-paced, unscripted humor to live audiences.
    </p>
    <a href="https://baconsale.com/" target="_blank"><img src="~/img/baconsalekate.jpg" width="300px" /></a>
    <p>
        As my personal movie collection grew, I wanted a way to keep track of all the films 
        I’ve deemed worthy of a spot on my shelf. I started with a simple Google Sheet, 
        logging essential details to stay organized. Over time, that spreadsheet has evolved 
        into a carefully curated archive of my ever-expanding library, ensuring that every 
        film I love is properly cataloged.
    </p>
</div>