@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movies";

}
@model Movie

<h1>@ViewData["Title"]</h1>
<form method="post" action="AddMovie">
    <label asp-for="Title">Movied Title:</label>
    <br />
    <input asp-for="Title" />
    <br />

    <label asp-for="Category" >Category: </label> 
    <br />
    <input asp-for="Category" />
    <br />

    <label asp-for="Director">Director: </label>
    <br />
    <input asp-for="Director" />
    <br />

    <label asp-for="Year">Year: </label> 
    <br />
    <input asp-for="Year" />
    <br />

    <label asp-for="Rating">Rating: </label>
    <br />
    <select asp-for="Rating">
        <option asp-for="Rating" value="G">G</option>
        <option asp-for="Rating" value="PG">PG</option>
        <option asp-for="Rating" value="PG-13">PG-13</option>
        <option asp-for="Rating" value="R">R</option>
    </select>

    <br />
    @* Hello *@
    <label asp-for="Edited">Edited: </label>
    <br />

    <input asp-for="Edited" type="radio" value=1 id="edited-yes">
    <label for="edited-yes">Yes</label>
    <br />
    <input asp-for="Edited" type="radio" value=0 id="edited-no">
    <label for="edited-no">No</label>

    <br />
    <label asp-for="Copied">Copied To Plex? </label>
    <br />

    <input asp-for="Copied" type="radio" value=1 id="copied-yes">
    <label for="copied-yes">Yes</label>
    <br />
    <input asp-for="Copied" type="radio" value=0 id="copied-no">
    <label for="copied-no">No</label>

    <br />
    <label asp-for="LentTo">Lent to: </label>
    <br />
    <input asp-for="LentTo" />

    <br />
    <label asp-for="Notes">Notes: </label>
    <br />
    <textarea asp-for="Notes" rows="3" cols="30"></textarea>
    <br /> <br />

    <input type="submit" value="Submit"/>

</form>


