@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movies";

}
@model Movie

<h1>@ViewData["Title"]</h1>
<form method="post" action="AddMovie">
    <label asp-for="Title">Movied Title:</label>
    <br />
    <input asp-for="Title" />
    <br />

    <label asp-for="Category" >Category: </label> 
    <br />
    <input asp-for="Category" />
    <br />

    <label asp-for="Director">Director: </label>
    <br />
    <input asp-for="Director" />
    <br />

    <label asp-for="Year">Year: </label> 
    <br />
    <input asp-for="Year" />
    <br />

    <label asp-for="Rating">Rating: </label>
    <br />
    <input asp-for="Rating" />
    <br />

    <label asp-for="Edited">Edited: </label>
    <br />

    <input asp-for="Edited" type="radio" value="True" id="edited-yes">
    <label for="edited-yes">Yes</label>
    <br />
    <input asp-for="Edited" type="radio" value="False" id="edited-no">
    <label for="edited-no">No</label>

    <br />

    <label asp-for="Notes">Notes: </label>
    <br />
    <textarea asp-for="Notes" rows="3" cols="30"></textarea>
    <br /> <br />

    <input type="submit" value="Submit"/>

</form>
