@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie

<div>
<h2>@Model.Title successfully added to database</h2>
    <h3>
        Return to the <a asp-area="" asp-controller="Home" asp-action="Movies">Movies</a> page to view all movies
    </h3>
</div>



@* @if (Model.CreeperStalker == false) *@
@* { *@
    @* <h2>Application Received. Thank you, @Model.FirstName!</h2> *@
@*     <h3>Although, you should be thanking me for even considering going out with you. </h3> *@
@* } *@
@* else *@
@* { *@
@*     <h2>Oh shoot. I'm already in a relationship. I could always send you a wedding invitation!</h2> *@
@* } *@