@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Movie

<div>
<h2>@Model.Title successfully added to database</h2>
    <h3>
        Return to the <a asp-area="" asp-controller="Home" asp-action="Movies">Movies</a> page to view all movies
    </h3>
</div>
