@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><span style="font-style: italic; text-decoration:blink">The</span> Joel Hilton Film Collection</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/img/joel_hilton.jpg" />
</div>
