@page
@model Mission06_Gurr.Views.Home.MoviesModel
@{
}


<div>
    <h2>Movies</h2>
    <table class="table table-bordered">
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Category</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent to</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
        </tr>



    </table>
</div>
